#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 50;
	display: block;
	color: #F7A8B8;
	font: sans-serif;
}

#bottom {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	z-index: 50;
	display: block;
	color: #F7A8B8;
	font: sans-serif;
}

#info2 {
	
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 50;
	display: block;
	color: #F7A8B8;
	overflow-y: scroll;
}

#bottom2 {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	z-index: 50;
	display: block;
	color: #F7A8B8;
}

a:link {
	color: #FFFFFF;
	text-decoration: none;
}

a:visited {
	color: #55CDFC;
	text-decoration: none;
}

a:hover {
	color: hotpink;
	text-decoration: underline; 
}

#viewport {
	position: fixed;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.page-wrapper {
	padding: 0px;
	margin: 12px 48px;
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100% - 2*48px);
	word-wrap: break-word;
}